<div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-10 imagestyle">
            <div id="scatterContainer"></div>
        </div>
        <div class="col col-lg-6 col-md-6 col-sm-10 imagestyle">
            <app-highchartbar></app-highchartbar>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-10 imagestyle">
            <app-highchartpie></app-highchartpie>
        </div>
        <div class="col col-lg-6 col-md-6 col-sm-10 imagestyle">
            <app-highchartarea></app-highchartarea>
        </div>
    </div>
</div>