<div class='center-view'>
    <select (change)="changeTeam($event)">
        <option disabled>Select A Team</option>
        <option> All </option>
        <option *ngFor="let team of teams"> {{team}} </option>
    </select>
</div>
<br/>
<div class="row">

    <div class='col-4 cards-view' *ngFor="let card of cardsData">
        <app-ipl-card [card]="card" [currentTeam]="currentTeam"></app-ipl-card>
    </div>

</div>