<div style="overflow-x:auto;">
    <table class="table table-hover">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Date</th>
              <th scope="col">Site</th>
              <th scope="col">Dur</th>
              <th scope="col">Status</th>
              <th scope="col">Claim No</th>
              <th scope="col">Exam</th>
              <th scope="col">Charge</th>
              <th scope="col">Invoiced</th>
              <th scope="col">Paid/WO</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let row of gridData; let i = index">
                <td> {{i+1}} </td>
                <td> {{row.date}} </td>
                <td> {{row.site}} </td>
                <td> {{row.duration}} </td>
                <td> {{row.status}} </td>
                <td> {{row.claimNo}} </td>
                <td> {{row.exam}} </td>
                <td> {{row.charge}} </td>
                <td>
                    <span class='hover-change'>{{row.invoiced}}</span>
                    <a href="url">
                        <strong class='hover-button' style="color: rgb(80, 40, 224);">Edit</strong>
                        <i class="bi bi-arrow-down-left-square-fill hover-button-sm" style="color: rgb(80, 40, 224);"></i>
                    </a>
                </td>
                <td>
                    <span class='hover-change'>{{row.paidwo}}</span>
                    <a href="url">
                        <strong class='hover-button' style="color: rgb(218, 33, 20);">Delete</strong>
                        <i class="bi bi-x-octagon-fill hover-button-sm" style="color: rgb(218, 33, 20);"></i>
                    </a>
                </td>
              </tr>
          </tbody>
    </table>
</div>
