table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
  width: 20;
  height: 20;
}

.table-hover> tbody> tr:hover{
  .hover-change{
    display: none;
  }
  .hover-button{
    display: inline;
  }
}

.hover-button {
  display: none;
}

.hover-button-sm {
  display: none;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}

    td:nth-of-type(1):before { content: "#"; }
    td:nth-of-type(2):before { content: "Date"; }
	td:nth-of-type(3):before { content: "Site"; }
	td:nth-of-type(4):before { content: "Duration"; }
	td:nth-of-type(5):before { content: "Status"; }
	td:nth-of-type(6):before { content: "Claim No"; }
	td:nth-of-type(7):before { content: "Exam"; }
	td:nth-of-type(8):before { content: "Charge"; }
	td:nth-of-type(9):before { content: "Invoiced"; }
	td:nth-of-type(10):before { content: "Paid W/O"; }

	.table-hover> tbody> tr:hover{
		.hover-change{
		  display: none;
		}
		.hover-button-sm{
		  display: inline;
		}
		.hover-button{
		  display: none;
		}
	}
}