<div class="card card-style">

    <img class="card-img-top" src={{imageUrl}} alt="Card image cap" width="200" height="250">
    
    <div class="card-body">
        <h4 class="card-title center-view">
            <strong>{{ card.cardName }}</strong>
        </h4>
        
        <div class="row" *ngFor="let card of cardData; let i = index">
            <div class="col-7">
                <b> {{card.name}}</b>
            </div>
            <div class="col-3">
                <b> {{card.value}}</b>
            </div>
            <div class="col-2">
                <i class="bi bi-trophy-fill" [style.color]="colors[i]"></i>
            </div>
        </div>

    </div>
</div>