<div class='login-card'>

    <!--- Template to load Login or Registration form--->
    <div *ngIf="isLogin; then thenTemplate else elseTemplate">
    </div>

    <!--- Register Form --->
    <ng-template #elseTemplate class='form-login'>

        <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">

            <div class="row form-field">
                <div class="col-xs-4 col-sm-4 col-lg-4">
                    <span> First Name</span>
                </div>
                <div class="col-sm-8 col-xs-8 col-lg-8">
                    <input type="text" class="form-control" id="firstName" name="firstName" formControlName="firstName">
                    <p class="lblError" *ngIf="registerForm.get('firstName').hasError('required')
                                        && !registerForm.get('firstName').pristine">
                        Firstname is Required
                    </p>
                </div>
            </div>

            <div class="row form-field">
                <div class="col-xs-4 col-sm-4 col-lg-4">
                    <span> Last Name</span>
                </div>
                <div class="col-sm-8 col-xs-8 col-lg-8">
                    <input type="text" class="form-control" id="lastName" name="lastName" formControlName="lastName">
                    <p class="lblError" *ngIf="registerForm.get('lastName').hasError('required')
                                && !registerForm.get('lastName').pristine">
                        Lastname is Required
                    </p>
                </div>
            </div>

            <div class="row form-field">
                <div class="col-xs-4 col-sm-4 col-lg-4">
                    <span> Email </span>
                </div>
                <div class="col-sm-8 col-xs-8 col-lg-8">
                    <input type="text" class="form-control" id="email" name="email" formControlName="email">
                    <p class="lblError" *ngIf="registerForm.get('email').hasError('required')
                                && !registerForm.get('email').pristine">
                        Email is Required
                    </p>
                </div>
            </div>

            <div class="row form-field">
                <div class="col-xs-4 col-sm-4 col-lg-4">
                    <span> Password </span>
                </div>
                <div class="col-sm-8 col-xs-8 col-lg-8">
                    <input type="text" class="form-control" id="password" name="password" formControlName="password">
                    <p class="lblError" *ngIf="registerForm.get('password').hasError('required')
                                && !registerForm.get('password').pristine">
                        Password is Required
                    </p>
                </div>
            </div>

            <div class="row form-field">
                <div class="col-xs-4 col-sm-4 col-lg-4">
                    <span> Gender </span>
                </div>
                <div class="col-sm-8 col-xs-8 col-lg-8">
                    <input type="radio" value="male" id="gender" name="gender" class="form-check-input"
                        formControlName="gender"> Male
                    <br />
                    <input type="radio" value="female" id="gender" name="gender" class="form-check-input"
                        formControlName="gender"> Female
                </div>
            </div>

            <div class="row form-field">
                <div class="col-xs-4 col-sm-4 col-lg-4">
                    <span> Married </span>
                </div>
                <div class="col-sm-8 col-xs-8 col-lg-8">
                    <input type="checkbox" id="isMarried" name="isMarried" formControlName="isMarried" checked>
                </div>
            </div>

            <div class="row form-field">
                <div class="col-xs-4 col-sm-4 col-lg-4">
                    <span> Country </span>
                </div>
                <div class="col-sm-8 col-xs-8 col-lg-8">
                    <select id="country" name="country" formControlName="country" class="dropdownmenu" aria-placeholder="Select Country">
                        <option [ngValue]="c" *ngFor="let c of countryList">
                            {{c}}
                        </option>
                    </select>
                </div>
            </div>

            <br />
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </form>
    </ng-template>

    <!--- Login Form --->
    <ng-template #thenTemplate class='form-login'>
        <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">

            <div class="form-field">
                <div>
                    <span> Email </span>
                </div>
                <div class="input-field">
                    <input type="text" class="form-control" id="email" name="email" formControlName="email">
                    <p class="lblError" *ngIf="loginForm.get('email').hasError('required')
                                || !loginForm.get('email').touched">
                        Email is Required
                    </p>
                </div>
            </div>

            <br/>
            <div class="form-field">
                <div>
                    <span> Password </span>
                </div>
                <div class="input-field">
                    <input type="text" class="form-control" id="password" name="password" formControlName="password">
                    <p class="lblError" *ngIf="loginForm.get('password').hasError('required')
                    || !loginForm.get('password').touched">
                        Password is Required
                    </p>
                </div>
            </div>

            <br />
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </form>

    </ng-template>

    <br />
    <div [ngStyle]="{'align-text': 'center'}">
        <button class="btn btn-success" (click)="register($event)"> Register </button>
    </div>

    <div *ngIf="isSuccess">
        <app-alert-modal [modalTitle]="modalTitle" [modalFooter]="modalFooter" [modalBody]="modalBody">
        </app-alert-modal>
    </div>
</div>