
//Background Images Animation
@-webkit-keyframes background1 {
  0% {
    background-image: url('/assets/images/nz.jpg');
  }
  100% {
    background-image: url('/assets/images/nz1.jpg');
  }
}

.slideshow {
  -webkit-animation-name: background1;
  -webkit-animation-duration: 5s;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

//
@mixin background($imgpath) {
  background: url($imgpath) center center fixed; 
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.background-pic {
  @include background('/assets/images/backone.jpg');
}

// Class for the login
.login-card {
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 5%;
  width: 30%;
  height: 500px;
  background-image: url('/assets/images/formback.jpg');
  border-radius: 5%;
  align-items: center;
}

.form-login {
  size: 40px;
  padding-top: 30px;
}

.form-field{
  font-size: 20px;
  font-weight: 800;
  padding-top: 10px;
  text-align: center;
  padding-right: 10px;
  color:brown;
}

.lblError{
  font-size: 15px;
  color: red;
  height: 2px;
}

.dropdownmenu{
  width: 70%;
  border-radius: 10px;
  background-color: cadetblue;
}

.input-field{
  margin: auto;
  width: 300px;
}

// Styles for D3 images
.imageview {
  max-width: 100% !important;
  .imagestyle {
    text-align: center;
    .buttonstyle{
      width: 200px;
    }
  };
}